name: Salesforce Code Analyzer Workflow

on:
  pull_request:
    paths:
      - 'force-app/main/default/classes/**'
      - 'config/pmd/**'

jobs:
  salesforce-code-analyzer-workflow:
    permissions:
      pull-requests: write
      contents: read
      actions: read
    runs-on: ubuntu-latest

    steps:
      - name: Check out files
        uses: actions/checkout@v5
      
      - name: Ensure node v20.9.0 or greater
        uses: actions/setup-node@v5
        with:
          node-version: '>=20.9.0'

      - name: Ensure java v11 or greater
        uses: actions/setup-java@v5
        with:
          java-version: '>=11'
          distribution: 'zulu'

      - name: Ensure python v3.10 or greater
        uses: actions/setup-python@v6
        with:
          python-version: '>=3.10'

      - name: Install Salesforce CLI
        run: npm install -g @salesforce/cli@latest

      - name: Install Latest Salesforce Code Analyzer CLI Plugin
        run: sf plugins install code-analyzer@latest
      - name: Get changed Apex files
        id: changed-files
        run: |
          git fetch origin ${{ github.base_ref }}

          CHANGED_FILES=$(git diff --name-only origin/${{ github.base_ref }}...HEAD \
            | grep '^force-app/main/default/classes/.*\.cls$' || true)

          echo "$CHANGED_FILES"

          # Convert to comma-separated list for PMD/CPD
          FILE_LIST=$(echo "$CHANGED_FILES" | tr '\n' ',' | sed 's/,$//')

          echo "FILES=$FILE_LIST" >> $GITHUB_ENV
      - name: Run Salesforce Code Analyzer
        run: |
          if [ -z "$FILES" ]; then
            echo "No Apex files changed. Skipping analysis."
            exit 0
          fi

          sf code-analyzer run --workspace . --target pr --files $FILES --view detail --output-file sfca_results.html --output-file sfca_results.json
         
          if grep -q '"severity":"[1-4]"' sfca_results.json; then
            echo "Violations found (Severity 1-4). Failing workflow."
            exit 1
          fi

      - name: Fail on Critical/High Violations (Changed Files Only)
        if: |
          steps.run-code-analyzer.outputs.num-sev1-violations-in-changed-files > 0 ||
          steps.run-code-analyzer.outputs.num-sev2-violations-in-changed-files > 0
        run: exit 1
