name: Salesforce Code Analyzer Workflow

on:
  pull_request:
    paths:
      - 'force-app/main/default/classes/**'
      - 'config/pmd/**'

jobs:
  salesforce-code-analyzer-workflow:
    permissions:
      pull-requests: write
      contents: read
      actions: read
    runs-on: ubuntu-latest

    steps:
      - name: Check out files
        uses: actions/checkout@v5

      - name: Install Salesforce CLI
        run: npm install -g @salesforce/cli@latest

      - name: Install Latest Salesforce Code Analyzer CLI Plugin
        run: sf plugins install code-analyzer@latest

      - name: Run Salesforce Code Analyzer
        id: run-code-analyzer
        uses: forcedotcom/run-code-analyzer@v2
        with:
          run-arguments: --workspace . 
                          --config salesforce-code-analyzer.yml 
                          --ignore force-app/main/default/classes/excluded/**
                          --view detail      
                          --output-file analyzer-results.html 
                          --output-file analyzer-results.json
          results-artifact-name: salesforce-code-analyzer-results
          github-token: ${{ github.TOKEN }}

      - name: Fail on Critical/High Violations (Changed Files Only)
        if: |
          steps.run-code-analyzer.outputs.num-sev1-violations-in-changed-files > 0 ||
          steps.run-code-analyzer.outputs.num-sev2-violations-in-changed-files > 0
        run: exit 1
